.lmj-cart {
	color: white;
	background-color: #31b572;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 200px;
}

.lmj-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.lmj-cart-toggle-button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	align-self: self-start;
	color: #fff;
	background-color: #31b572;
	padding: 10px 10px;
	border-radius: 15px;
	border: none;
	font-size: large;
}

.lmj-cart-closed {
	padding: 32px;
	width: 200px;
}

.btn-cart {
	color: #31b572;
	background-color: #fff;
	padding: 10px 15px;
	border-radius: 15px;
	border: none;
	font-size: large;
	margin-top: 20px;
}